.blocks-input{
    display: inline-block;
    background-color: white;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    color: #222323;
    font-size: 10px;
    font-family: monospace;
    margin: 3px 0 3px 5px;
    padding: 4px;
    width: fit-content;
    min-width: 50px;
    height: fit-content;
    min-height: 20px;
}
.blocks-input:empty:before {
    content: attr(data-placeholder);
    background-color: transparent;
    color: dimgray;
}
.block-text{
    background-color: transparent;
    padding: 2px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.block-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    background-color: transparent;
}
.block-element {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    flex: 1;
}
.slot-left,
.slot-right,
.slot-operand,
.slot-value,
.slot-condition,
.slot-index,
.slot-then{
    position: relative;
    top: 0;
    transform: none;
    display: flex;
    flex-direction: row;
    width: min-content;
    min-width: 30px;
    height: min-content;
    min-height: 25px;
    background-color: white;
    align-items: center;
    border: 1px solid #1a1a1a;
    border-radius: 16px;
    transition: all 0.2s ease;
}
.slot-then{
    width: 100%;
}
.slot-left{
    left: 0;
}
.slot-right,
.slot-operand,
.slot-value{
    right: 0;
}
.slot-placeholder{
    background-color: transparent;
    color: dimgray;
    font-size: 10px;
    font-family: monospace;
}
.blocks-input:hover,
.slot-left:hover,
.slot-right:hover,
.slot-operand:hover,
.slot-value:hover,
.slot-condition:hover,
.slot-index:hover,
.slot-then:hover{
    border-width: 2px;
}