.block{
    position: relative;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 5px;
    font-size: 12px;
    width: auto;
}
.heading-start,
.block-input,
.block-print{
    border: 3px solid #ff033e;
    background-color: lightcoral;
}
.block-variableInit,
.block-assignValue{
    border: 2px solid orangered;
    background-color: lightsalmon;
}
.block-if,
.block-if-else,
.block-while{
    border: 2px solid gold;
    background-color: palegoldenrod;
}
.block-add,
.block-subtract,
.block-multiply,
.block-div,
.block-mod{
    border: 2px solid limegreen;
    background-color: lightgreen;
}
.block-gt,
.block-lt,
.block-eq{
    border: 2px solid dodgerblue;
    background-color: lightskyblue;
}
.block-and,
.block-or,
.block-not{
    border: 2px solid #cd00cd;
    background-color: plum;
}
.block:hover{
    border-width: 4px;
    transform: translateY(-2px);
}
.block-container{
    position: absolute;
    background-color: transparent;
}
.delete-btn{
    position: absolute;
    border: 2px solid red;
    background-color: red;
    color: white;
    right: -20px;
    top: 15px;
    border-radius: 50%;
    opacity: 0;
    padding: 0 5px;
}
.block-container:hover .delete-btn {
    opacity: 1;
    cursor: pointer;
}