.blocks-input{
    background-color: white;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    color: dimgray;
    font-family: monospace;
    margin: 3px 0 3px 5px;
    padding: 4px;
    width: auto;
}
.blocks-input:hover{
    border-width: 2px;
}
