.block{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 5px;
    font-size: 12px;
    width: auto;
    height: auto;
}
.block-start,
.block-input,
.block-print{
    border: 2px solid #ff033e;
    background-color: lightcoral;
}
.block-variableInit{
    border: 2px solid orangered;
    background-color: lightsalmon;
}
.block-assignValue{
    border: 2px solid orangered;
    background-color: lightsalmon;
    text-align: center;
    min-width: 210px;
    width: auto;
    height: auto;
    padding-right: 35px;
    padding-left: 0;
}
.block-if,
.block-if-else,
.block-while{
    border: 2px solid gold;
    background-color: palegoldenrod;
}
.block-add,
.block-subtract,
.block-multiply,
.block-div,
.block-mod{
    border: 2px solid limegreen;
    background-color: lightgreen;
    text-align: center;
    min-width: 90px;
    min-height: 31px;
    width: auto;
    height: auto;
}
.block-gt,
.block-lt,
.block-eq,
.block-neq,
.block-gte,
.block-lte{
    border: 2px solid dodgerblue;
    background-color: lightskyblue;
    text-align: center;
}
.block-and,
.block-or{
    border: 2px solid #cd00cd;
    background-color: plum;
    text-align: center;
    min-width: 90px;
    min-height: 31px;
    width: auto;
    height: auto;
}
.block-not{
    border: 2px solid #cd00cd;
    background-color: plum;
    min-width: 65px;
    min-height: 31px;
    width: auto;
    height: auto;
}
.block-container{
    position: absolute;
    background-color: transparent;
    display: grid;
    place-items: center;
    user-select: none;
}
.delete-btn{
    position: absolute;
    background-color: red;
    color: white;
    right: -23px;
    top: 50%;
    transform: translateY(-55%);
    border-radius: 50%;
    opacity: 0;
    padding: 0 5px;
}
.block-container:hover .delete-btn {
    opacity: 1;
    cursor: pointer;
}
.block-container:hover .block {
    border-width: 3px;
}
