.block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 2px 5px;
    margin: 5px;
    font-size: 11px;
    min-height: 36px;
    min-width: 100px;
    width: auto;
    height: auto;
    gap: 5px;
}
.block-start,
.block-input,
.block-print{
    border: 2px solid #ff033e;
    background-color: lightcoral;
    text-align: center;
    line-height: 25px;
}
.block-variableInit{
    border: 2px solid orangered;
    background-color: lightsalmon;
    text-align: center;
}
.block-assignValue{
    border: 2px solid orangered;
    background-color: lightsalmon;
    text-align: center;
    min-width: 30px;
    width: auto;
    height: auto;
    padding-left: 0;
}
.block-if,
.block-if-else,
.block-while{
    border: 2px solid gold;
    background-color: palegoldenrod;
}
.block-add,
.block-subtract,
.block-multiply,
.block-div,
.block-mod{
    border: 2px solid limegreen;
    background-color: lightgreen;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 23px;
    font-size: 15px;
}
.block-mod{
    font-size: 11px;
}
.block-gt,
.block-lt,
.block-eq,
.block-neq,
.block-gte,
.block-lte{
    border: 2px solid dodgerblue;
    background-color: lightskyblue;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 23px;
    font-size: 15px;
}
.block-and,
.block-or{
    border: 2px solid #cd00cd;
    background-color: plum;
    text-align: center;
    width: auto;
    height: auto;
    line-height: 28px;
}
.block-not{
    border: 2px solid #cd00cd;
    background-color: plum;
    min-width: 65px;
    width: auto;
    height: auto;
    line-height: 28px;
}
.block-arrayDeclare,
.block-arrayAssignByIndex,
.block-arrayGet,
.block-arrayLength{
    border: 2px solid deeppink;
    background-color: pink;
    text-align: center;

}
.block-container{
    position: absolute;
    background-color: transparent;
    display: grid;
    place-items: center;
    user-select: none;
}
.delete-btn{
    position: absolute;
    background-color: red;
    color: white;
    right: -23px;
    top: 50%;
    transform: translateY(-55%);
    border-radius: 50%;
    opacity: 0;
    padding: 2px 5px 2px 5px;
    margin: 0 -5px;
}
.block-container:hover .delete-btn {
    opacity: 1;
    cursor: pointer;
}
.block-container:hover .block {
    border-width: 3px;
    z-index: 100;
}
.block-error .block{
    animation: colorPulse 1.75s infinite;
}
@keyframes colorPulse {
    0%{
        filter: saturate(100%);
    }
    50%{
        filter: saturate(400%) brightness(120%);
    }
    100%{
        filter: saturate(100%);
    }
}
