*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #1a1a1a;
}
body {
    font-family: "Comic Sans MS", cursive;
}
main{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    height: 100vh;
    padding: 10px;
}
h1{
    grid-row-start: 1;
    text-align: center;
}
h1 span:not(:first-child) {
    display: inline-block;
    transition: transform 0.2s ease;
}
h1 span:not(:first-child):hover {
    transform: scale(1.1) translateY(-10px);
}
.code{
    display: grid;
    width: 100%;
    grid-row: auto;
    grid-template-columns: 25% 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.blockPanel{
    border: 2px solid dodgerblue;
    grid-row: 1/span 4;
    height: 100%;
    background-color: rgba(30, 144, 255, 0.15);
    display: flex;
    flex-direction: column;
}
h2{
    grid-row-start: 1;
    text-align: center;
    color: white;
    background-color: transparent;
    font-size: 20px;
}
.blockPanelButton{
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: "Comic Sans MS";
}
.blockPanelButton[data-type="start"],
.blockPanelButton[data-type="input"],
.blockPanelButton[data-type="print"] {
    background-color: lightcoral;
    border: 3px solid #ff033e;
}
.blockPanelButton[data-type="variableInit"],
.blockPanelButton[data-type="assignValue"] {
    background-color: lightsalmon;
    border: 3px solid orangered;
}
.blockPanelButton[data-type="if"],
.blockPanelButton[data-type="if-else"],
.blockPanelButton[data-type="while"]{
    background-color: palegoldenrod;
    border: 3px solid gold;
}
.blockPanelButton[data-type="add"],
.blockPanelButton[data-type="subtract"],
.blockPanelButton[data-type="multiply"],
.blockPanelButton[data-type="div"],
.blockPanelButton[data-type="mod"]{
    background-color: lightgreen;
    border: 3px solid limegreen;
}
.blockPanelButton[data-type="gt"],
.blockPanelButton[data-type="lt"],
.blockPanelButton[data-type="eq"]{
    background-color: lightblue;
    border: 3px solid dodgerblue;
}
.blockPanelButton[data-type="and"],
.blockPanelButton[data-type="or"],
.blockPanelButton[data-type="not"]{
    background-color: plum;
    border: 3px solid #cd00cd;
}
.blockPanelButton:hover{
    color: white;
    transform: scale(1.05) translateY(-2px);
    cursor: pointer;
}
.blockPanelButton:hover[data-type="start"],
.blockPanelButton:hover[data-type="input"],
.blockPanelButton:hover[data-type="print"]{
    background-color: #ff033e;
}
.blockPanelButton:hover[data-type="variableInit"],
.blockPanelButton:hover[data-type="assignValue"]{
    background-color: orangered;
}
.blockPanelButton:hover[data-type="if"],
.blockPanelButton:hover[data-type="if-else"],
.blockPanelButton:hover[data-type="while"]{
    background-color: gold;
}
.blockPanelButton:hover[data-type="add"],
.blockPanelButton:hover[data-type="subtract"],
.blockPanelButton:hover[data-type="multiply"],
.blockPanelButton:hover[data-type="div"],
.blockPanelButton:hover[data-type="mod"]{
    background-color: limegreen;
}
.blockPanelButton:hover[data-type="gt"],
.blockPanelButton:hover[data-type="lt"],
.blockPanelButton:hover[data-type="eq"]{
    background-color: dodgerblue;
}
.blockPanelButton:hover[data-type="and"],
.blockPanelButton:hover[data-type="or"],
.blockPanelButton:hover[data-type="not"]{
    background-color: #cd00cd;
}
.workSpace{
    position: relative;
    border: 2px solid deeppink;
    grid-column: 2;
    grid-row: 1/span 3;
    background-color: rgba(255, 20, 147, 0.1);
    display: flex;
}
.blockWorkSpaceButton{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: auto;
    z-index: 10;
    padding: 6px;
}
.workSpaceButton {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 2px solid deeppink;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    display: flex;
}
.workSpaceButton[data-type="delete"]{
    background-image: url("../image/icons8-trash.svg");
}
.workSpaceButton[data-type="run"]{
    background-image: url("../image/icons8-start-50.png");
}
.blockButtonDelete, .blockButtonRun{
    position: absolute;
    right: 45px;
    color: black;
    background-color: white;
    padding: 1px;
    width: 80px;
    height: 20px;
    border: 2px solid deeppink;
    font-size: 10px;
    text-align: center;
    opacity: 0;
}
.blockButtonDelete{
    top: 13px;
}
.blockButtonRun{
    top: 53px;
}
.workSpaceButton:hover{
    cursor: pointer;
    border-width: 3px;
    transform: scale(1.05);
}
.workSpaceButton[data-type="delete"]:hover{
    background-image: url("../image/icons8-trash.gif");
}
.workSpaceButton[data-type="run"]:hover{
    background-image: url("../image/icons8-start.gif");
}
.workSpaceButton[data-type="delete"]:hover ~ .blockButtonDelete{
    opacity: 1;
}
.workSpaceButton[data-type="run"]:hover ~ .blockButtonRun {
    opacity: 1;
}
.outputPanel{
    border: 2px solid limegreen;
    grid-column: 2;
    grid-row: 4/span 1;
    background-color: rgba(50, 205, 50, 0.15);
    color: white;
}
h3{
    text-align: left;
    font-size: 16px;
    background-color: transparent;
    margin: 5px 10px;

}