*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 1vh;
    background-color: #1a1a1a;
}
body {
    font-family: "Comic Sans MS", cursive;
    height: 100vh;
    overflow: hidden;
}
main{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    gap: 1vh;
    padding: 1vh;
}
h1{
    grid-row-start: 1;
    text-align: center;
}
.logo-сode{color: #ffffff;}
.logo-b{color: #ff033e;}
.logo-l{color: yellow;}
.logo-o{color: greenyellow;}
.logo-n{color: dodgerblue;}
.logo-d{color: #cd00cd;}
.logo span:not(:first-child) {
    display: inline-block;
    transition: transform 0.2s ease;
}
.logo span:not(:first-child):hover {
    transform: scale(1.1) translateY(-1vh);
}
.code{
    display: grid;
    width: 100%;
    height: 100%;
    grid-row: auto;
    grid-template-columns: 25% 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    gap: 1vh;
    min-height: 0;
}
.blockPanel{
    border: 0.3vh solid dodgerblue;
    grid-row: 1/span 4;
    background-color: rgba(30, 144, 255, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.blockPanel::-webkit-scrollbar,
.workSpace::-webkit-scrollbar,
.outputPanel::-webkit-scrollbar {
    width: 0;
}
h2{
    grid-row-start: 1;
    text-align: center;
    color: white;
    background-color: transparent;
    font-size: 2.6vh;
}
.blockPanelButton{
    color: black;
    margin: 1vh;
    padding: 1vh;
    border-radius: 1.5vh;
    text-align: center;
    font-family: "Comic Sans MS", serif;
    user-select: none;
}
@media (max-width: 500px){
    .blockPanelButton{
        font-size: 1.5vh;
    }
}
.blockPanelButton[data-type="start"],
.blockPanelButton[data-type="input"],
.blockPanelButton[data-type="print"] {
    background-color: lightcoral;
    border: 0.3vh solid #ff033e;
}
.blockPanelButton[data-type="variableInit"],
.blockPanelButton[data-type="assignValue"] {
    background-color: lightsalmon;
    border: 0.3vh solid orangered;
}
.blockPanelButton[data-type="if"],
.blockPanelButton[data-type="if-else"],
.blockPanelButton[data-type="while"]{
    background-color: palegoldenrod;
    border: 0.3vh solid gold;
}
.blockPanelButton[data-type="add"],
.blockPanelButton[data-type="subtract"],
.blockPanelButton[data-type="multiply"],
.blockPanelButton[data-type="div"],
.blockPanelButton[data-type="mod"]{
    background-color: lightgreen;
    border: 0.3vh solid limegreen;
}
.blockPanelButton[data-type="gt"],
.blockPanelButton[data-type="lt"],
.blockPanelButton[data-type="eq"],
.blockPanelButton[data-type="neq"],
.blockPanelButton[data-type="gte"],
.blockPanelButton[data-type="lte"]{
    background-color: lightblue;
    border: 0.3vh solid dodgerblue;
}
.blockPanelButton[data-type="and"],
.blockPanelButton[data-type="or"],
.blockPanelButton[data-type="not"]{
    background-color: plum;
    border: 0.3vh solid #cd00cd;
}
.blockPanelButton[data-type="arrayDeclare"],
.blockPanelButton[data-type="arrayAssignByIndex"],
.blockPanelButton[data-type="arrayGet"],
.blockPanelButton[data-type="arrayLength"]{
    background-color: pink;
    border: 0.3vh solid deeppink;
}
.blockPanelButton:hover{
    color: white;
    transform: scale(1.05) translateY(-0.2vh);
    cursor: pointer;
}
.blockPanelButton:hover[data-type="start"],
.blockPanelButton:hover[data-type="input"],
.blockPanelButton:hover[data-type="print"]{
    background-color: #ff033e;
}
.blockPanelButton:hover[data-type="variableInit"],
.blockPanelButton:hover[data-type="assignValue"]{
    background-color: orangered;
}
.blockPanelButton:hover[data-type="if"],
.blockPanelButton:hover[data-type="if-else"],
.blockPanelButton:hover[data-type="while"]{
    background-color: gold;
}
.blockPanelButton:hover[data-type="add"],
.blockPanelButton:hover[data-type="subtract"],
.blockPanelButton:hover[data-type="multiply"],
.blockPanelButton:hover[data-type="div"],
.blockPanelButton:hover[data-type="mod"]{
    background-color: limegreen;
}
.blockPanelButton:hover[data-type="gt"],
.blockPanelButton:hover[data-type="lt"],
.blockPanelButton:hover[data-type="eq"],
.blockPanelButton:hover[data-type="neq"],
.blockPanelButton:hover[data-type="gte"],
.blockPanelButton:hover[data-type="lte"]{
    background-color: dodgerblue;
}
.blockPanelButton:hover[data-type="and"],
.blockPanelButton:hover[data-type="or"],
.blockPanelButton:hover[data-type="not"]{
    background-color: #cd00cd;
}
.blockPanelButton:hover[data-type="arrayDeclare"],
.blockPanelButton:hover[data-type="arrayAssignByIndex"],
.blockPanelButton:hover[data-type="arrayGet"],
.blockPanelButton:hover[data-type="arrayLength"]{
    background-color: deeppink;
}
.workSpace{
    position: relative;
    border: 0.3vh solid deeppink;
    grid-column: 2;
    grid-row: 1/span 3;
    background-color: rgba(255, 20, 147, 0.1);
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-behavior: smooth;
}
.blockWorkSpaceButton{
    position: fixed;
    top: 8.6vh;
    right: 1.5vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
    width: auto;
    z-index: 1000;
    padding: 0.6vh;
}
.workSpaceButton {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 4.3vh;
    height: 4.3vh;
    border: 0.3vh solid deeppink;
    background-position: center;
    background-size: 3.4vh;
    background-repeat: no-repeat;
    display: flex;
}
.workSpaceButton[data-type="delete"]{
    background-image: url("../image/icons8-trash.svg");
}
.workSpaceButton[data-type="run"]{
    background-image: url("../image/icons8-start-50.png");
}
.blockButtonDelete, .blockButtonRun{
    position: absolute;
    right: 5.9vh;
    color: black;
    background-color: white;
    padding: 0.1vh;
    width: 9.5vh;
    height: 2vh;
    border: 0.2vh solid deeppink;
    font-size: 1.3vh;
    text-align: center;
    opacity: 0;
}
.blockButtonDelete{
    top: 1.8vh;
}
.blockButtonRun{
    top: 6.8vh;
}
.workSpaceButton:hover{
    cursor: pointer;
    border-width: 0.3vh;
    transform: scale(1.05);
}
.workSpaceButton[data-type="delete"]:hover{
    background-image: url("../image/icons8-trash.gif");
}
.workSpaceButton[data-type="run"]:hover{
    background-image: url("../image/icons8-start.gif");
}
.workSpaceButton[data-type="delete"]:hover ~ .blockButtonDelete{
    opacity: 1;
}
.workSpaceButton[data-type="run"]:hover ~ .blockButtonRun {
    opacity: 1;
}
.outputPanel{
    border: 0.3vh solid limegreen;
    grid-column: 2;
    grid-row: 4/span 1;
    background-color: rgba(50, 205, 50, 0.15);
    color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0 0.5vh;
}
.outputPanel p {
    background-color: transparent !important;;
}
h3{
    text-align: left;
    font-size: 2vh;
    background-color: transparent;
    margin: 0.5vh 1vh;
}